# ref: https://github.com/docker-library/official-images
name: amd64 Docker

on: [push, pull_request]

jobs:
  Distros:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        distro: [alpine, archlinux, centos, debian, fedora, opensuse, ubuntu]
      fail-fast: false
    env:
      DISTRO: amd64_${{ matrix.distro }}
    steps:
    - uses: actions/checkout@v3
    - name: Check docker
      run: |
        docker info
        docker buildx ls
    - name: Build env image
      run: make --directory=ci ${DISTRO}_env
    - name: Build devel project
      run: make --directory=ci ${DISTRO}_devel
    - name: Build project
      run: make --directory=ci ${DISTRO}_build
    - name: Test project
      run: make --directory=ci ${DISTRO}_test

    - name: Build install env image
      run: make --directory=ci ${DISTRO}_install_env
    - name: Build install devel project
      run: make --directory=ci ${DISTRO}_install_devel
    - name: Build install project
      run: make --directory=ci ${DISTRO}_install_build
    - name: Test install project
      run: make --directory=ci ${DISTRO}_install_test
