# ref: https://github.com/actions/runner-images
name: amd64 Linux

on: [push, pull_request, workflow_dispatch]

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

# Building using the github runner environement directly.
jobs:
  native:
    strategy:
      matrix:
        cmake: [
          {name: "Make", generator: "Unix Makefiles", config: Release, build: all, test: test, install: install},
          {name: "Ninja", generator: "Ninja", config: Release, build: all, test: test, install: install},
          {name: "Ninja Multi", generator: "Ninja Multi-Config", config: Release, build: all, test: test, install: install}
        ]
      fail-fast: false
    name: amd64•Linux•CMake(${{matrix.cmake.name}})
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Ninja
        run: |
          sudo apt update
          sudo apt install -y ninja-build
      - name: Install SWIG
        run: |
          sudo apt install -y swig
          swig -version
      - name: Setup .NET 8.0
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x
      - name: Check dotnet
        run: dotnet --info
      - name: Check CMake
        run: cmake --version
      - name: Configure
        run: >
          cmake -S. -Bbuild
          -G "${{matrix.cmake.generator}}"
          -DCMAKE_BUILD_TYPE=${{matrix.cmake.config}}
          -DCMAKE_INSTALL_PREFIX=install
      - name: Build
        run: >
          cmake --build build
          --config ${{matrix.cmake.config}}
          --target ${{matrix.cmake.build}}
          -v -j2
      - name: Test
        run: >
          CTEST_OUTPUT_ON_FAILURE=1
          cmake --build build
          --config ${{matrix.cmake.config}}
          --target ${{matrix.cmake.test}}
          -v
      - name: Install
        run: >
          cmake --build build
          --config ${{matrix.cmake.config}}
          --target ${{matrix.cmake.install}}
          -v

  amd64_linux:
    runs-on: ubuntu-latest
    needs: native
    steps:
      - uses: actions/checkout@v6
